*~
dist/
stamp-*
*.log
*.out
*.app
*.exe
autom4te.cache
aclocal.m4
compile
configure
depcomp
install-sh
missing
*.slo
*.lo
*.o
*.so
*.dylib
*.lai
*.la
*.a
*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
*/.deps/*
.cproject
.project
*.mk
*.directory
*.test
*.libs
*.dirstamp
*.deps
Makefile
Makefile.in
ar-lib
config.guess
config.h
config.h.in
config.status
libtool
ltmain.sh
clause-0.1.pc
clauseconfig.h
clauseconfig.h.in
*.tar.bz2
*.tar.gz
*.tar.xz
.settings/*

